html, body {
    height: 100%;
    width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  text-align: center;
}

input {
  margin-bottom: 4%;
}

.btn {
  width: 100%;
  margin-bottom: 4%;
}

.selected_row {
  background-color: lightblue;
}

.booked {
  background-color: blue;
  color: white;
}

div {
  width: 60%;
}

.form-control {
  width: 100%;
}

.btnsize {
  width: 60%;
}

#roles_and_permission_page, #admin_classrooms_page {
  height: 90%;
  width: 90%;
}

.table-fixed{
  width: 100%;
  align: center;

  tbody{
    overflow-y: auto;
    width: 100%;
    }

  thead,tbody,tr,td,th{
    display:block;
  }
}
