html {
  font-family: sans-serif;
  font-size: 100%;
}

label {
  display: block;
}

button {
  font-size: 110%;
}

div {
  max-width: 28%;
  display: block;
  float: left;
  border: solid 2px lightgrey;
  padding: 2%;
  margin: 1%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
